<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--给实体类取别名-->
        <!--<typeAlias type="entity.Provider" alias="provider"/>-->
        <!--<typeAlias type="entity.Xxx" alias="Xxx"/>-->
    </typeAliases>
    <environments default="default1">
        <environment id="default1">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="111111"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="mybatis/mapping/xml/Provider.xml"/>-->
        <mapper resource="mybatis/mapping/xml/Xxx.xml"/>
    </mappers>
</configuration>